<mat-tab-group class="backgroundColor" mat-stretch-tabs style="color: white;">
    <mat-tab label="Song" > <app-song></app-song></mat-tab>
    <mat-tab label="Drama"> <app-drama></app-drama> </mat-tab>
    <mat-tab label="Speech"> <app-speech></app-speech> </mat-tab>
  </mat-tab-group>



    <!-- <div class="cards" style="width: 400px;height: 300px;">
      <mat-card >
        <a href="https://www.youtube.com/watch?v=" target="_blank">
          <h3>This is title</h3>
        </a>
        <p>{{test | limitTo: 20}}</p>
        <img src="result.snippet.thumbnails.default.url" style="width: 100%; max-width: 250px;" />
      </mat-card>
    </div>  -->
