<!-- Footer -->
<footer id="footer" class="page-footer font-small unique-color-dark fixed-bottom">
    <!-- Footer Links -->
    <!-- <div class="container">
      <div class="row text-center d-flex justify-content-center pt-5">
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">ABOUT</a>
          </h6>
        </div>
      </div>
  
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
        <div class="col-md-8 col-12 mt-3">
          <p style="line-height: 1.7rem">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 
            1500s
          </p>
          <p>
            Technologies used : JEE Spring Boot / Angular 7 .
          </p>
        </div>
      </div>
      <hr
        class="clearfix d-md-none rgba-white-light"
        style="margin: 10% 15% 5%;"
      />
  
      <div class="row pb-3 text-center">
        <div class="col-md-12">
          <div class="mb-5 flex-center"></div>
        </div>
      </div>
    </div> -->
    <!-- Footer Links -->
  
    <!-- Copyright -->
  
    <div class="footer-copyright text-center py-3">
      <p class="love">
        Made with &nbsp;<i class="fa fa-heart fa-lg red-text"></i>&nbsp; TechTibet
      </p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->