
<div mat-dialog-title class="close">
        <button mat-icon-button (click)="onNoClick()" tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content (window:resize)="onResize($event)">
        <div style="text-align: center;">
                <!-- <iframe [src]="data.animal | safe" allowfullscreen="allowfullscreen" width="600" height="400"
                mozallowfullscreen="mozallowfullscreen" 
                msallowfullscreen="msallowfullscreen" 
                oallowfullscreen="oallowfullscreen" 
                webkitallowfullscreen="webkitallowfullscreen" frameborder="0" id="iFrame1"></iframe> -->
                <iframe [src]="data.animal | safe"
                allowfullscreen="allowfullscreen"
        mozallowfullscreen="mozallowfullscreen" 
        msallowfullscreen="msallowfullscreen" 
        oallowfullscreen="oallowfullscreen" 
        webkitallowfullscreen="webkitallowfullscreen"
                onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' [ngStyle]="styleOne?{'min-height':'350px','width':'100%','border':'none','overflow':'hidden'}:{'height':'400px','width':'700px'}"
                ></iframe>

        </div>
</div>
